button,
input[type="button"] {
  background-color: var(--primary-color);
  padding: 0.5em;
  cursor: pointer;

  &.primary-button {
    background-color: var(--primary-color);
  }

  &.secondary-button {
    background-color: var(--secondary-color);
  }
}

