* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

#app-wrapper {
  background-color: var(--secondary-color);
  height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
