main {
  align-items: center;
}

.card-displayer {
  display: flex;
  flex-flow: row wrap;
  padding: 5em 3em;
  justify-content: center;
  height: 100%;
  gap: 2em;
  overflow-y: scroll;
  width: 100%;

  .film-card {
    width: min(300px, 100%);
    cursor: pointer;

    &:hover h2 {
      color: var(--primary-color);
    }

    &.movie span:first-of-type {
      color: var(--movie-color);
      font-weight: bold;
      text-transform: uppercase;
    }

    &.series span:first-of-type {
      font-weight: bold;
      color: var(--series-color);
      text-transform: uppercase;
    }

    & figure {
      display: flex;
      flex-flow: column nowrap;
      width: min(300px, 100%);
      height: 450px;
      background-color: var(--movie-color);

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: aliceblue;
      }
    }
    & section {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5em;
      padding: 1em;
      color: var(--light-color);

      & h2 {
        font-size: 1.2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.media-info {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10em 2em;
  gap: 2em;

  & h1 {
    font-size: 2em;

    & span {
      text-transform: capitalize;
      color: var(--series-color);
    }
  }

  & figure {
    width: 300px;
    height: 450px;
    background-color: yellow;
  }

  & section {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 300px;
    max-width: min(800px, 100%);
    gap: 1em;

    & > div:first-of-type {
      display: flex;
      justify-content: flex-start;
      gap: 1em;
      & span {
        border-right: .1em solid var(--light-color);
        padding-right: 1em;
      }

    }
    & > div:last-child {
      .overview {
        padding: 1em;
        font-size: 1.2em;
      }

      .about {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;

        & h3 {
          font-size: 1.2em;
        }
        & .rating {
          max-width: 300px;
          height: 50px;
          display: flex;
          align-items: center;
          gap: 1em;

          & span {
            font-size: 1.2em;

          }

          & span:first-child {
            display: flex;
            align-items: center;

            height: 100%;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
