main {
  align-items: center;
}

.card-displayer {
  display: flex;
  flex-flow: row wrap;
  padding: 5em 3em;
  justify-content: center;
  height: 100%;
  gap: 2em;
  overflow-y: scroll;
  width: 100%;

  .film-card {
    width: min(300px, 100%);
    cursor: pointer;

    &:hover h2 {
      color: var(--primary-color);
    }

    &.movie span:first-of-type {
      color: var(--movie-color);
      font-weight: bold;
      text-transform: uppercase;
    }

    &.series span:first-of-type {
      font-weight: bold;
      color: var(--series-color);
      text-transform: uppercase;
    }

    & figure {
      display: flex;
      flex-flow: column nowrap;
      width: min(300px, 100%);
      height: 450px;
      background-color: var(--movie-color);

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: aliceblue;
      }
    }
    & section {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5em;
      padding: 1em;
      color: var(--light-color);

      & h2 {
        font-size: 1.2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
